<div class="site-footer">
  <%- themeConfig.footerInfo %>
  <b>Theme: </b>
  <a href="https://github.com/chiperman/gridea-theme-porky" target="_blank" title="Porky">
    <span><b>Porky - XiaoX</b></span>
  </a>
  <b>. Powered by </b>
  <a href="https://gridea.dev/" target="_blank" title="Gridea">
    <span><b>Gridea</b></span>
  </a>
</div>

<script>
  hljs.initHighlightingOnLoad()
</script>