<div class="site-footer">
  <%- themeConfig.footerInfo %>
  <b>Theme: </b>
  <a href="//github.com/chiperman/gridea-theme-porky"><b>Porky</b></a
  ><b> | Powered by </b>
  <a href="https://weibo.com/cbvivi"><b>Gridea</b></a>
</div>

<script>
  hljs.initHighlightingOnLoad();
</script>
