<script src='https://cdn.jsdelivr.net/npm/valine/dist/Valine.min.js'></script>


<div id="vcomments"></div>

<script>
	new Valine({
		el: '#vcomments',
		appId: '<%=site.customConfig.APP_ID %>',
		appKey: '<%=site.customConfig.APP_KEY %>',
		avatar: '<%=site.customConfig.avatar %>',
		visitor: true,
		<% if (site.customConfig.hy) { %>
                placeholder: '<%= site.customConfig.hy %>'
        <% } %>
	});
</script>