.site-footer {
  font-size: 12px;
  text-align: center;
  padding: 24px;
  color: @oc-gray-6;

  a {
    color: #1D4ED8;
  }
}

@media (prefers-color-scheme: dark) {
  .site-footer {
    a {
      color: #FBBF24;
    }
  }
}